# pycache
/__pycache__

# vscode
/.vscode

# Extension folder and module, coming soon
/ext
/sigval.so

# Local folders for caching figures and store measured data
/figures
/data

# test file to play around
/test.py
