# Folder for data processing. Will be uploaded soon
/datpro

# Local folders for caching figures and store measured data
/figures
/data

# test file to play around
/test.py

# pycache
/__pycache__

# vscode
/.vscode
